* {
  font-family: Roboto, sans-serif;
  color: white;
}

body {
  margin: 0;
}

h1 {
  margin: 0px;
}

#header {
  padding-top: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  justify-content: center;
}

#page-background {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

#calc-background {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 350px;
  height: 500px;
  margin-top: 25px;
  margin-left: 25px;
  border: solid;
  border-width: thin;
  border-radius: 2%;
}

#screen-background {
  flex: 1.5 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
   
}

#screen {
  width: 85%;
  min-height: 45%;
  padding: 2%;
  display: flex;
  justify-content: right;
  align-items: center;
  border: solid;
  border-width: thin;
  border-radius: 2%;
  font-size: 35px;
}

#clear-background {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: left;
  flex: 1;
}

.function.button {
  max-width: 50%;
  border-radius: 5%;
}

#buttons {
  display: flex;
  flex: 4 1 0;
  padding: 5px;
  padding-top: 0px;
  
}

#column1, 
#column2,
#column3,
#column4 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10%;
  margin: 5px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: 1px;
}

.button.number, 
.button.decimal {
  background-color: gray;
}

.button.operator,
.button.equal {
  background-color: rgb(255, 94, 0);
}

.function.button {
  background-color: lightgray;
}

.selected {
  outline: 2px solid white;
}
